.tombol_hapus{
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color: #FF3D2B;
    color: #ffffff;
}

.text_hapus{
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: poppins;
}

.tombol_keluar {
  display: flex; /* Flexbox untuk mengatur isi tombol */
  justify-content: center;
  align-items: center;
  height: 40px; /* atau ukuran spesifik */
  width: 40px;  /* agar bentuk lingkaran */
  border: 2px solid red;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.tombol_keluar:hover {
  background-color: #f2f2f2;
}

.tombol_navbar {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: poppins;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tombol_navbar:hover {
  background-color: #DDA853;
}

.tombol_navbar.active {
  background-color: #DDA853;
}

.tombol_navbar img{
  width: 20px;
  height: 20px;
}

.icon_keluar {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.icon_navbar {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.wrapper_tombol {
  display: flex;
  width: fit-content;
  padding: 10px 14px;
  border-radius: 50px;
  background-color: #27548a;
  gap: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);;
}

.cari {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #f0f0f0;
  padding: 10px;
}

.masukan_cari {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 250px;
}

.tombol_berhasil{
  padding: 7px 50px 7px 50px;
  background-color: #5DB338;
  color: #ffffff;
  font-family: poppins;
  font-weight: bold;
  font-size:small ;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

